.header {
  @include pad;
  margin: 0 auto;
  @include flex-center($justify: space-between);
  @include space-down;
  height: 90vh;
  

  

  @include respond(m){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
  }

  &__content {
    
    @include respond(m){
      margin: 5rem auto;
      text-align: center;
    }
    &--title {
      font-size: size(main) * 2.5;
      color: color(white);
      font-weight: 900;

      @include respond(xl){
        font-size: size(large) * 2.5;
      }

      @include respond(m){
        font-size: size(main)* 2;
        margin: 0;
      
        
      }
    }

    &--sub-title {
      font-size: size(main) * 2;
      color: color(red-1);
        margin-top: -3rem;
      font-weight: 500;

      

      @include respond(xl){
        font-size: size(large);
        margin-top: 1rem;
      }
      
      @include respond(m){
        font-size: size(large)* 2;
        margin: 0;
      
        
      }
    }

    &--description {
      font-size: size(small);
      color: color(white);
      width: 60%;
      margin-top: 4rem;

      font-weight: 500;
      margin-bottom: 4rem;

      @include respond(xl){
        font-size: size(extra-small);
      }
    }

    &--btn{
        display: inline-block;
        color: color(white);
        padding: 2rem 4rem 2rem 2rem;
        font-size: size(small);
        font-weight: 600;
        background-image: linear-gradient(135deg, color(red-3) 10%, rgba(color(pink-2), .3) 50%);
  border-radius: .6rem;
  transition: 0.5s;
  background-size: 200% auto;
  text-decoration: none;

  box-shadow: 0 10px 10px rgba(color(red-4), .4);

  &:hover{
    transform: translateY(-.2rem);
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
        
        

    }
  }

  &__img {
    
    
    position: relative;
    @include respond(m){
      display: flex;
      justify-content: center;
      
      
      
      
    }
    


    img{
      
     
      @include respond(l){
        margin-top: 1rem;
        // width: 20%;
        
        
      }

      @include respond(m){
        margin-top: 1rem;
        width: 50%;
        
        
        
      }
    }
    
    
    &::before {
      z-index: 2000;
      position: absolute;
      bottom: -10rem;
      right: 1rem;
      content: url("/Images/header/Ellipse 2.png");

      @include respond(m){
      
       display: none;
        
      }
    }
  }

  
}
