.accordion{
    @include pageCenter;
    @include space-down;
    font-family: $main-font;
    width: 40%;

    @include respond(m){
            
        width: 100%;
        padding: 0 1rem
        

        
        
      }

    .ac{
        &-header{
            @include background;
            color: color(white);
        }
    
        &-trigger{
            color: color(white);
            font-family: $main-font;
        }

        &-panel{
            color: color(white);
            background-color: color(white);
        }

    }

    
}