.footer {
  @include pageCenter;
  @include space-top;

  &-logo {
    text-decoration: none;
    font-size: size(medium);
  }

  &-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    @include space-down;

    .connected {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &__title {
        color: (rgba(color(white), 0.47));
        text-transform: uppercase;
      }

      &__list{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          list-style: none;

          
      }

      @include linkStyled;
    }
}

&__second{
      border-top: 1px solid rgba(color(white), .1);
      display: flex;
      gap: 5rem;
      align-items: flex-end;
      padding: 3rem 0 0 0;

      .copyright{
        color: color(white);
        

      }
      .links{
          display: flex;
          gap: 2rem;

          a{

            text-decoration: none;
            color: color(white);
            font-weight: 400;
            transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid color(white);
            }
    
        }
      }
      
  }
}
