.light-dark{
    background-color: color(dark-3);
}

.tag{
    text-align: center;
    color: color(red-1);
    font-size: size(medium);
}

.description{
    text-align: center;
        color: color(white);
        font-size: size(large);
        padding: 2rem 0;
}

.tag-2{
    text-align: left;
    color: color(red-1);
    font-size: size(medium);
}

.description-2{
    text-align: left;
        color: color(white);
        font-size: size(large);
        padding: 2rem 0;
}