//Colors

$colors: (
  dark: #212429,
  dark-2: #2a393b,
  dark-3: #282a2e,
  white: #ffffff,
  white-2: #ffeaea,
  red-1: #a3254b,
  red-2: #ba4156,
  red-3: #ff2020,
  red-4: #6d2952,
  pink: #fa00ff,
  pink-2: #cd198d,
  pink-3: #e4202f,
  orange: #de580a,
  yellow: #d4920d,
  green: #04f1a2,
  blue: #4167c3,
  blue-dark: #03486D
);

//Fonts

$main-font: "Roboto", sans-serif;

//Font size

$sizes: (
  main: 3.9rem,
  extra-large: 3rem,
  large: 2.5rem,
  medium: 2rem,
  small: 1.5rem,
  extra-small: 1rem,
  thin: 0.8rem
);
